*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, 'Montserrat';
}

html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: black;
    color:white;
}

header{
    margin-top: 2px;
    display: flex;
    position:  relative;
    top: 0;
    bottom: 0;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px); 
    justify-content: space-between;
    align-items: center;
    z-index:100;
}

.logo{
    font-size: 2rem;
    font-family: 'Poppins';
    color: #b74b4b;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
    text-decoration: none;
}

.logo:hover{
    transform: scale(1.1);
    color: white;
}

nav a{
    font-size: 1.5rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: all 0.3 ease;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

.home-content h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
}

.home-content h1 span{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 6rem;
}

.home-content p{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 2rem;
}

.home-img{
    width:200px;
    height:200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.home-img img{
    position: absolute;
    bottom:150px;
    left: 20px;

}

nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

@media(max-width: 995px){
    nav{
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom: 3px solid #b74b4b;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);

    }

    nav.active{
        display:block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.Home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.Home .home-content{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;


}